.product{
    font-size: smaller;
    font-family: Poppins,Arial,sans-serif;
    line-height: 22px;
    letter-spacing: .02em;
    margin-bottom:40px ;
}
.product >p{
    color: gray;
}

.product > h4{
    color: black;
}

.product > img{
    height: 420px;
}