.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 100;
    background: white;
}

.header_logo{
    margin: 30px 60px 30px 70px;
    height: 20px;
}

.header_page{
    display: flex;
    padding-right: 250px !important;
}
.page{
    padding-left: 40px;
    color: black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.page:hover{
    text-decoration: underline;
}
.header_items_login{
    font-weight: 800;
    margin-right: 20px;
    border: 1px solid gray;
    border-radius: 20px !important;
    padding: 10px;
}
.header_items_login:hover{
    background-color: black;
    color: white;
}

.header_items{
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.header_items > p{
    margin-right: 10px !important;
    font-size: 12px;
}

.header_item{
    margin-right:10px!important; ;
}
.header_items > span{
    position: absolute;
    top: 12px;
    right: 7%;
    min-width: 22px;
    min-height: 22px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    z-index: 2;
    font-weight: 500;
    color: white;
    background-color: red;
}
.logout{
    display: flex;
}

